<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block resources %}
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

            <script src="https://kit.fontawesome.com/7958facff4.js" crossorigin="anonymous"></script>

            {% if username %}
                <script defer>
                    localStorage.setItem("username", '{{ username }}');
                    localStorage.setItem("user_id", '{{ user_id }}');
                </script>
            {% endif %}

        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {% include "navbar.html" %}
            {% include "flash_messages.html" %}
        {% endblock %}
    </body>
</html>